<!DOCTYPE html>
<html>
  <head>
    <title>Emporium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= @page_title || 'Emporium' %></title>
    <%= stylesheet_link_tag "style" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= "#{@page_title}" if @page_title  %></h1>
    <%= yield %>
  </body>
</html>
